streamlit
pandas
numpy
plotly.express
sklearn.preprocessing
joblib
matplotlib.pyplot
seaborn
sklearn.model_selection.train_test_split
sklearn.svm.LinearSVC
sklearn.calibration.CalibratedClassifierCV
sklearn.neighbors.KNeighborsClassifier
sklearn.tree.DecisionTreeClassifier
sklearn.naive_bayes.GaussianNB
sklearn.linear_model.LogisticRegression
sklearn.semi_supervised.LabelPropagation
sklearn.metrics.accuracy_score
sklearn.metrics.precision_score
sklearn.metrics.recall_score
sklearn.metrics.f1_score
copy
pickle
reveal_slides